.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutIcon {
  transition: 1s;
}


.aboutIcon:hover {transform:translateY(-30px)}

a {
  margin-left: 80px;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ff4c4c, #ff4c4c 50%,#110051  50%);
  background-size: 200% 100%;
  background-position: 100%;
}
a:hover {
  transition: all 1s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}


